<!-- Note, I'm hiding the search bar on mobile screens using class="d-none d-sm-block" from
    https://getbootstrap.com/docs/4.0/utilities/display/ -->

<div class="container-fluid">
  <div class="row">

    <mat-toolbar color="primary">
      <mat-toolbar-row>

        <!-- only show these things in the ng-template if the user is not logged in/is not authenticated -->
        <ng-template [ngIf]="!authService.isAuthenticated()">

          <h1 routerLink="/login">QuickPass</h1>
          <span class="spacer"></span>
          <a routerLink="/about" style="color: white; text-decoration: none;">About</a>

        </ng-template>

        <!-- only show these things in the ng-template if the user is logged in/is authenticated -->
        <ng-template [ngIf]="authService.isAuthenticated()">

          <h1 routerLink="/items">QuickPass</h1>

          <span class="spacer"></span>

          <!-- Search Bar for item-list-component.ts - Search Query functionality -->
          <!-- Only shows on a URl that contains 'items' -->
          <div *ngIf="router.url.includes('items')" class="hide-search-bar-on-small-screens">
            <mat-form-field class="">
              <input class="" matInput routerLink="/items" (keyup)="onTypeSearchQueryItem($event.target.value)">
            </mat-form-field>
          </div>
          <!-- /Search Bar for item-list-component.ts - Search Query functionality -->

          <!-- Search Bar for folder-list-component.ts - Search Query functionality -->
          <!-- Only shows on a URl that contains 'folders' -->
          <div *ngIf="router.url.includes('folders')" class="hide-search-bar-on-small-screens">
            <mat-form-field>
              <input matInput routerLink="/folders" (keyup)="onTypeFolderSearchQuery($event.target.value)">
            </mat-form-field>
          </div>
          <!-- /Search Bar for folder-list-component.ts - Search Query functionality -->

          <!-- Search Icon -->
          <div *ngIf="router.url.includes('items')">
            <mat-icon class="icon hide-search-bar-on-small-screens" style="padding-left: 190px; margin-top: 15px;"
              aria-hidden="false" aria-label=" heart icon">search
            </mat-icon>
          </div>

          <div *ngIf="router.url.includes('folders')">
            <mat-icon class="icon hide-search-bar-on-small-screens" style="padding-left: 190px; margin-top: 15px;"
              aria-hidden="false" aria-label=" heart icon">search
            </mat-icon>
          </div>
          <!-- /Search Icon -->

          <span class="spacer"></span>

          <div class="hide-when-collides-with-search-bar">

            <!-- Create New... -->
            <button mat-icon-button class="icon" style="" matTooltip="Create New..." aria-hidden="false"
              aria-label=" heart icon" [matMenuTriggerFor]="menu">
              <mat-icon class="icon">add_circle</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/items/new">Create New Password</button>
              <button mat-menu-item routerLink="/folders/new-folder">Create New Folder</button>
            </mat-menu>
            <!-- /Create New -->

            <!-- Passwords -->
            <button mat-icon-button class="icon" matTooltip="Passwords" aria-hidden="false" aria-label=" heart icon"
              routerLink="/items">
              <mat-icon class="icon">vpn_key</mat-icon>
            </button>
            <!-- /Passwords -->

            <!-- Folders -->
            <button mat-icon-button class="icon" matTooltip="Folders" aria-hidden="false" aria-label=" heart icon"
              routerLink="/folders">
              <mat-icon class="icon">folder</mat-icon>
            </button>
            <!-- /Folders -->

            <!-- Settings -->
            <button mat-icon-button class="icon" matTooltip="Settings" aria-hidden="false" aria-label=" heart icon"
              routerLink="/settings">
              <mat-icon class="icon">settings</mat-icon>
            </button>
            <!-- /Settings -->

            <!-- Log Out -->
            <button mat-icon-button class="icon" matTooltip="Log Out" (click)="onLogout()" aria-hidden="false"
              aria-label=" delete icon">
              <mat-icon class="icon">power_settings_new</mat-icon>
            </button>
            <!-- /Log Out -->
          </div>

          <div class="hamburger-menu-shown-when-icons-get-hidden">

            <!-- Hamburger Menu... -->
            <button mat-icon-button class="hamburger-menu-icon" style="" matTooltip="Menu" aria-hidden="false"
              aria-label=" heart icon" [matMenuTriggerFor]="hamburgerMenu">
              <mat-icon class="hamburger-menu-icon">menu</mat-icon>
            </button>

            <mat-menu #hamburgerMenu="matMenu">
              <button style="margin-right: 50px" mat-menu-item [matMenuTriggerFor]="submenuToSearch">Search</button>
              <button style="margin-right: 50px" mat-menu-item [matMenuTriggerFor]="submenuToCreateNew">Create A
                New...</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/items">Passwords</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/folders">Folders</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/settings">Settings</button>
              <button style="margin-right: 50px" mat-menu-item (click)="onLogout()">Log Out</button>
            </mat-menu>

            <mat-menu #submenuToCreateNew="matMenu">
              <button style="margin-right: 50px" mat-menu-item routerLink="/items/new">Password</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/folders/new-folder">Folder</button>
            </mat-menu>

            <mat-menu #submenuToSearch="matMenu">

              <!-- Search Bar for item-list-component.ts - Search Query functionality -->
              <!-- Only shows on a URl that contains 'items' -->
              <div class="container">
                <div class="row">
                  <div *ngIf="router.url.includes('items')" class="" style="" (click)="stopPropagation($event)">
                    <mat-form-field class="">
                      <input class="" matInput routerLink="/items" (keyup)="onTypeSearchQueryItem($event.target.value)">
                    </mat-form-field>
                    <mat-icon class="icon" style="vertical-align: middle; margin-top: -5px;" aria-hidden="false"
                      aria-label=" heart icon">search</mat-icon>
                  </div>
                </div>
              </div>
              <!-- /Search Bar for item-list-component.ts - Search Query functionality -->

              <!-- Search Bar for folder-list-component.ts - Search Query functionality -->
              <!-- Only shows on a URl that contains 'folders' -->
              <div class="container">
                <div class="row">
                  <div *ngIf="router.url.includes('folders')" class="" style="" (click)="stopPropagation($event)">
                    <mat-form-field>
                      <input matInput routerLink="/folders" (keyup)="onTypeFolderSearchQuery($event.target.value)">
                    </mat-form-field>
                    <mat-icon class="icon" style="vertical-align: middle; margin-top: -5px;" aria-hidden="false"
                      aria-label=" heart icon">search</mat-icon>
                  </div>
                </div>
              </div>
              <!-- /Search Bar for folder-list-component.ts - Search Query functionality -->

            </mat-menu>

            <!-- /Hamburger Menu -->

          </div>

        </ng-template>
        <!-- /only show these things in the ng-template if the user is logged in/is authenticated -->



      </mat-toolbar-row>
    </mat-toolbar>

  </div>
</div>