.icon {
  margin-bottom: 0.3%;
  cursor: pointer;
  font-size: 35px;
  margin-right: 40px;
}

.hamburger-menu-icon {
  margin-bottom: 0.3%;
  cursor: pointer;
  font-size: 35px;
  margin: 0 10px;
}

/* Since the toolbar uses flex box by default, this will make sure that the spacer element
 takes all the available remaining space between the other elements.
 From CSS example from https://material.angular.io/components/toolbar/examples */
.spacer {
  flex: 1 1 auto;
}

h1 {
  padding: 0 20px;
  cursor: pointer;
  font-size: 30px;
}

/* only applies to small mobile screens */
@media (max-width: 355px) {
  h1 {
    padding: 0 5px;
  }
}

/* for screens less than 1050px wide (which is the point when the icons collide with the search bar and
CSS issues start to occur and white space happens at the right side of the screen because the
header's not condensing even though the rest of the page is) */
@media (max-width: 1050px) {
  .hide-when-collides-with-search-bar {
    display: none;
  }
  mat-form-field {
    width: 65%;
    margin-right: 10px;
    margin-left: 20px;
  }
  .hide-search-bar-on-small-screens {
    display: none;
  }
}

/* for screens more than 1051px wide show the hamburger menu when the icons get hidden */
@media (min-width: 1051px) {
  .hamburger-menu-shown-when-icons-get-hidden {
    display: none;
  }
  mat-form-field {
    width: 200%;
  }
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}

/* Keeping this for the syntax: https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div 

 vertical-align: bottom; */