.icon {
  margin-bottom: 0.3%;
  cursor: pointer;
  font-size: 35px;
  margin-right: 40px;
}

.hamburger-menu-icon {
  margin-bottom: 0.3%;
  cursor: pointer;
  font-size: 35px;
  margin: 0 10px;
}

/* Since the toolbar uses flex box by default, this will make sure that the spacer element
 takes all the available remaining space between the other elements.
 From CSS example from https://material.angular.io/components/toolbar/examples */
.spacer {
  flex: 1 1 auto;
}

.logo-when-not-logged-in {
  padding: 0px 20px;
  cursor: pointer;
}

.logo-when-logged-in {
  padding: 0 20px;
  cursor: pointer;
  font-size: 30px;
}

.about {
  padding: 0 20px;
  color: white;
  text-decoration: none;
}

/* only applies to small mobile screens */
@media (max-width: 355px) {
  .logo-when-logged-in {
    padding: 0 5px;
  }
  .logo-when-not-logged-in {
    padding-right: 5px;
    padding-left: 5px;
  }
  .about {
    padding: 0 5px;
  }
}

/* only applies to small mobile screens */
@media (max-width: 488px) {
  .logo-when-not-logged-in {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h2 {
    display: none;
  }
  h3 {
    display: none;
  }
}

/* for screens less than 1120px wide (which is the point when the icons collide with the search bar and
CSS issues start to occur and white space happens at the right side of the screen because the
header's not condensing even though the rest of the page is) */
@media (max-width: 1120px) {
  /* this hides all the icons in the header except the ones for the search bar */
  .hide-when-collides-with-search-bar {
    display: none;
  }
}

/* for screens more than 1121px wide show the hamburger menu when the icons get hidden */
@media (min-width: 1121px) {
  /* this means the hamburger menu icon is shown for anything below 1121px wide screens 
    (BUT, the smaller search bar in the hamburger menu won't show up until the screen is even smaller (710px wide) */
  .hamburger-menu-shown-when-icons-get-hidden {
    display: none;
  }
}

/* for screens smaller than 710px wide (which is the point when the hamburger menu icon collides with the
 larger search bar), hide the larger search bar and replace it with the hamburger menu's smaller search bar */
@media (max-width: 710px) {
  mat-form-field {
    width: 65%;
    margin-right: 10px;
    margin-left: 20px;
  }
  .hide-larger-search-bar-on-small-screens {
    display: none;
  }
}

/* for screens larger than 711px wide, show the larger search bar and hide the hamburger menu's smaller search bar */
@media (min-width: 711px) {
  .hide-hamburger-smaller-search-bar {
    display: none;
  }
  mat-form-field {
    width: 200%;
  }
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}

/* Keeping this for the syntax: https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div 

 vertical-align: bottom; */