<div class="container-fluid">
  <div class="row">
    <mat-toolbar color="primary">
      <mat-toolbar-row>

        <!-- only show these things in the ng-template if the user is not logged in/is not authenticated -->
        <ng-template [ngIf]="!authService.isAuthenticated()">

          <div class="row logo-when-not-logged-in" routerLink="/login" (click)="setTitle('Log In | QuickPass')">
            <h1 style="font-size: 30px;">
              <img src="assets\images\QuickPass-Short_Logo-Alternative_Colours.png" height="35"
                style="margin-top: -5px; margin-right: -5px;">
              uickPass</h1>
            <h2 style="font-size: 30px;  margin-left: 8px; margin-right: 8px;"> | </h2>
            <h3 style="margin-top: 2px;">Password Manager</h3>
          </div>

          <span class="spacer"></span>
          <a class="about" routerLink="/about" (click)="setTitle('About | QuickPass')">About</a>

        </ng-template>
        <!-- /only show these things in the ng-template if the user is not logged in/is not authenticated -->



        <!-- only show these things in the ng-template if the user is logged in/is authenticated -->
        <ng-template [ngIf]="authService.isAuthenticated()">

          <!-- <h1 routerLink="/items">QuickPass</h1> -->
          <h1 class="logo-when-logged-in" routerLink="/items" (click)="setTitle('Passwords | QuickPass')"><img
              src="assets\images\QuickPass-Short_Logo-Alternative_Colours.png" height="35"
              style="margin-top: -5px; margin-right: 2px;">uickPass</h1>

          <span class="spacer"></span>

          <!-- Search Bar for item-list-component.ts - Search Query functionality -->
          <!-- Only shows on a URl that contains 'items' -->
          <div *ngIf="router.url.includes('items')" class="hide-larger-search-bar-on-small-screens">
            <mat-form-field>
              <input matInput routerLink="/items" (keyup)="onTypeSearchQueryItem($event.target.value)">
            </mat-form-field>
          </div>
          <!-- /Search Bar for item-list-component.ts - Search Query functionality -->

          <!-- Search Bar for folder-list-component.ts - Search Query functionality -->
          <!-- Only shows on a URl that contains 'folders' -->
          <div *ngIf="router.url.includes('folders')" class="hide-larger-search-bar-on-small-screens">
            <mat-form-field>
              <input matInput routerLink="/folders" (keyup)="onTypeFolderSearchQuery($event.target.value)">
            </mat-form-field>
          </div>
          <!-- /Search Bar for folder-list-component.ts - Search Query functionality -->

          <!-- Search Icon -->
          <div *ngIf="router.url.includes('items')">
            <mat-icon class="icon hide-larger-search-bar-on-small-screens"
              style="padding-left: 190px; margin-top: 15px; font-size: 35px; cursor: pointer">
              search</mat-icon>
          </div>

          <div *ngIf="router.url.includes('folders')">
            <mat-icon class="icon hide-larger-search-bar-on-small-screens"
              style="padding-left: 190px; margin-top: 15px; font-size: 35px; cursor: pointer">
              search
            </mat-icon>
          </div>
          <!-- /Search Icon -->

          <span class="spacer"></span>



          <div class="hide-when-collides-with-search-bar">

            <!-- Create New... -->
            <button mat-icon-button class="icon" matTooltip="Create New..." [matMenuTriggerFor]="menu">
              <mat-icon [inline]="true" style="font-size: 35px">add_circle</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/items/new" (click)="setTitle('Create New Password | QuickPass')">Create
                New Password</button>
              <button mat-menu-item routerLink="/folders/new-folder"
                (click)="setTitle('Create New Folder | QuickPass')">Create New Folder</button>
            </mat-menu>
            <!-- /Create New -->

            <!-- Passwords -->
            <button mat-icon-button class="icon" matTooltip="Passwords" routerLink="/items"
              (click)="setTitle('Passwords | QuickPass')">
              <mat-icon [inline]="true" style="font-size: 35px">vpn_key</mat-icon>
            </button>
            <!-- /Passwords -->

            <!-- Folders -->
            <button mat-icon-button class="icon" matTooltip="Folders" routerLink="/folders"
              (click)="setTitle('Folders | QuickPass')">
              <mat-icon [inline]="true" style="font-size: 35px">folder</mat-icon>
            </button>
            <!-- /Folders -->

            <!-- Settings -->
            <button mat-icon-button class="icon" matTooltip="Settings" routerLink="/settings"
              (click)="setTitle('Settings | QuickPass')">
              <mat-icon [inline]="true" style="font-size: 35px">settings</mat-icon>
            </button>
            <!-- /Settings -->

            <!-- Log Out -->
            <button mat-icon-button class="icon" matTooltip="Log Out" (click)="onLogout();">
              <mat-icon [inline]="true" style="font-size: 35px">power_settings_new</mat-icon>
            </button>
            <!-- /Log Out -->

          </div>



          <div class="hamburger-menu-shown-when-icons-get-hidden">

            <!-- Hamburger Menu... -->
            <button mat-icon-button class="hamburger-menu-icon" matTooltip="Menu" [matMenuTriggerFor]="hamburgerMenu">
              <mat-icon [inline]="true" style="font-size: 35px">menu</mat-icon>
            </button>

            <mat-menu #hamburgerMenu="matMenu">
              <button style="margin-right: 50px" mat-menu-item [matMenuTriggerFor]="submenuToSearch"
                class="hide-hamburger-smaller-search-bar">Search</button>
              <button style="margin-right: 50px" mat-menu-item [matMenuTriggerFor]="submenuToCreateNew">Create A
                New...</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/items"
                (click)="setTitle('Passwords | QuickPass')">Passwords</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/folders"
                (click)="setTitle('Folders | QuickPass')">Folders</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/settings"
                (click)="setTitle('Settings | QuickPass')">Settings</button>
              <button style="margin-right: 50px" mat-menu-item (click)="onLogout()">Log Out</button>
            </mat-menu>

            <mat-menu #submenuToCreateNew="matMenu">
              <button style="margin-right: 50px" mat-menu-item routerLink="/items/new"
                (click)="setTitle('Create New Password | QuickPass')">Password</button>
              <button style="margin-right: 50px" mat-menu-item routerLink="/folders/new-folder"
                (click)="setTitle('New Folder | QuickPass')">Folder</button>
            </mat-menu>

            <mat-menu #submenuToSearch="matMenu">

              <!-- Search Bar for item-list-component.ts - Search Query functionality -->
              <!-- Only shows on a URL that contains 'items' -->
              <div class="container hide-hamburger-smaller-search-bar">
                <div class="row">
                  <div *ngIf="router.url.includes('items')" (click)="stopPropagation($event)">
                    <mat-form-field>
                      <input matInput routerLink="/items" (keyup)="onTypeSearchQueryItem($event.target.value)">
                    </mat-form-field>
                    <mat-icon class="icon" style="vertical-align: middle; margin-top: -5px; font-size: 35px; cursor: pointer">search
                    </mat-icon>
                  </div>
                </div>
              </div>
              <!-- /Search Bar for item-list-component.ts - Search Query functionality -->

              <!-- Search Bar for folder-list-component.ts - Search Query functionality -->
              <!-- Only shows on a URL that contains 'folders' -->
              <div class="container hide-hamburger-smaller-search-bar">
                <div class="row">
                  <div *ngIf="router.url.includes('folders')" (click)="stopPropagation($event)">
                    <mat-form-field>
                      <input matInput routerLink="/folders" (keyup)="onTypeFolderSearchQuery($event.target.value)">
                    </mat-form-field>
                    <mat-icon class="icon" style="vertical-align: middle; margin-top: -5px; font-size: 35px; cursor: pointer">search
                    </mat-icon>
                  </div>
                </div>
              </div>
              <!-- /Search Bar for folder-list-component.ts - Search Query functionality -->

            </mat-menu>

            <!-- /Hamburger Menu -->

          </div>

        </ng-template>
        <!-- /only show these things in the ng-template if the user is logged in/is authenticated -->

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<!-- Note, the syntax for hiding the search bar on mobile screens using class="d-none d-sm-block" from
    https://getbootstrap.com/docs/4.0/utilities/display/ but I didn't end up using this way-->