.centering {
  margin: auto;
  width: 280px;
  height: 310px;
  text-align: center;
}

.inner-div {
  margin: 20px auto;
  width: 70%;
  position: relative;
}

.full-width {
  width: 100%;
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}