mat-card {
  max-width: 100%;
  height: 80px;
  text-align: left;
  /* margin-top: 20px; */
}

/* https://stackoverflow.com/questions/17560818/twitter-bootstrap-white-space-on-left-and-right-side-in-smaller-screen-widths */
.container-fluid {
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
}

.inner-div {
  margin: 10px auto;
  /* min-width: 350px; */
  width: 100%;
  position: relative;
}

.everything {
    margin: 20px 0px 30px 20px;
}

@media (max-width: 767px) {
  .everything {
    /* margin-right: 10px;
    margin-left: 10px; */
    margin: 20px 10px 0px 10px;
    /* background-color: yellow;   */
  }

  /* .move-to-folder {
    background-color: yellow;  
  } */

}

.selected-color{
  background:#3f51b5;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
}

th {
  font-size: 17px;
  color: #3f51b5;
  font-weight: bold;
}

td {
  cursor: pointer;
  /* width: 453px; */
  font-size: 20px;
  /* height: 70px; */
}

/* only applies to anything that's larger than a small mobile screen */
@media (min-width: 355px) {
  
.td-padding {
  padding-left: 30px
}


  .th-padding {
    padding-left: 30px
  }
  
}

mat-form-field {
  width: 100%;
}

.toolbar {
  /* padding: 0px 10px; */
}

button {
  margin: 13px 0px;
}

.folder-select {

  width: 100%;
  margin-top: -30px;
  padding-left: 80px;
  padding-right: 20px;

  /* width: 410px; */
  /* padding-bottom: 40px; */
  /* background-color: yellow; */

  }

  .delete-select {
    /* width: 410px; */
  width: 100%;
  margin-top: -62px;
  padding-left: 110px;
  padding-right: 20px;
  
    /* padding-top: 80px; */
    /* padding-bottom: 40px; */
    /* background-color: yellow; */
  
    }
  
  
/* only applies to small screens */
@media (max-width: 575px) {

  .folder-select {
    /* padding-left: 60px;
    margin-top: -30px; */
    /* background-color: yellow;   */
  }

  .delete-select {
    /* padding-left: 90px;
    margin-top: -65px; */
    /* background-color: yellow;   */
  }

  .everything {
    /* margin-right: 10px; */
  }
}

/* only applies at the moment when the "Move to Folder" mat-card
gets pushed to the row below the "Select Folder to View" mat-card */
@media (max-width: 991px) {

  .move-to-folder {
    margin-top: 20px;
    /* background-color: yellow;   */
  }

}

/* only applies before the moment when the "Move to Folder" mat-card
gets pushed to the row below the "Select Folder to View" mat-card */
@media (min-width: 991px) {

  .edit-padding-right {
    padding-right: 10px;
  }
  
  .edit-padding-left {
    padding-left: 10px;
  }

}


  
/* only applies to small screens */
/* @media (max-width: 575px) {


} */

.folder-icon {
  font-size: 50px;
  color: #3f51b5;
  /* padding-top: 5px; */
  margin-left: 15px;

  /* padding: 8px 13px; */
  /* https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div */
vertical-align: bottom;
}

.delete-button {
  /* vertical-align: bottom; */
  margin-top: 7px;
  margin-left: 20px;

}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
 *:focus {
  outline: none;
  border: 0;
}