<div class="container-fluid">
  <div class="">
    
<div class="everything">

  <div class="row">

    <!-- "Filter by Folder" dropdown -->
    <!-- <div class="inner-div"> -->

    <div class="col-xs-12 col-lg-6 edit-padding-right" style="">
      <mat-card class="mat-elevation-z3">

          <div class="inner-div">

        <div class="row">

          <!-- <div class="col-xs-3 col-sm-3"> -->
            <mat-icon mat-list-icon class="folder-icon">folder</mat-icon>
          <!-- </div> -->

          <!-- <div class="col-xs-9 col-sm-9"> -->

            <form [formGroup]="itemForm" (ngSubmit)="onFilterByFolder()" class="form"  class="folder-select">
              <mat-form-field matTooltip="Select Folder to View" matTooltipPosition="right">
                <mat-label *ngIf="selectedValue !== null">Select Folder To View</mat-label>
                <mat-label *ngIf="selectedValue === null">Select Folder To View</mat-label>
                <mat-select formControlName="folderMatchedTo" [(value)]="selectedValue">
                  <mat-option (click)="onFilterByFolder()" [value]="'All'" (click)="selectedValue = null">
                    All</mat-option>
                  <!-- Clear Selected Value is from https://stackoverflow.com/questions/42006622/how-to-unselect-selected-option-in-md-select-angular2 -->
                  <mat-option (click)="onFilterByFolder()" *ngFor="let individualFolder of allFolders"
                    [value]="individualFolder.name">
                    {{ individualFolder.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>

          <!-- </div> -->

          </div>

        </div>
      </mat-card>
    </div>
    
    <!-- /"Filter by Folder" dropdown -->

    <!-- Toolbar -->
    <div class="col-xs-12 col-lg-6 edit-padding-left" >
      <!--  Only show toolbar if at least one checkbox is selected -->
      <!-- <mat-card class="mat-elevation-z2" class="move-to-folder" *ngIf="this.selection.selected.length >= 1"> -->
      <mat-card class="mat-elevation-z3 move-to-folder">
        
          <div class="inner-div">

        <div class="row">
          <!-- <div class="col-xs-3 col-sm-3"> -->
            <button mat-flat-button (click)="onDeleteItems()" color="warn"  class="delete-button">Delete</button>
          <!-- </div> -->

          <!-- <div class="col-xs-9 col-sm-9"> -->

            <!-- "Move to Folder" dropdown -->

            <!-- is the class "form" needed? -->
            <form [formGroup]="itemForm" (ngSubmit)="onMoveToFolder()" class="" class="delete-select">

              <mat-form-field matTooltip="Move to Folder" matTooltipPosition="right">
                <mat-label for="folder">Move to Folder</mat-label>
                <mat-select formControlName="folderMatchedTo">
                  <mat-option (click)="onMoveToFolder()" *ngFor="let individualFolder of allFolders"
                    [value]="individualFolder.name">
                    {{ individualFolder.name }}</mat-option>
                </mat-select>
              </mat-form-field>

            </form>
            <!-- /"Move to Folder" dropdown -->
          <!-- </div> -->

        </div>
          </div>
      </mat-card>
    </div>
    <!-- /Toolbar -->

  </div>



  <!-- table - list of items -->
  <div class="mat-elevation-z8" style="">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color='primary' (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <!-- I'm trying to make this checkbox get highlighted at the right time: <td mat-cell *matCellDef="let row; let i = index;" [routerLink]="[i]" *ngIf="router.url.includes('items')"
        routerLinkActive="selected-color"> -->
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color='primary' (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- /Checkbox Column -->

      <ng-container matColumnDef="title">
        <!-- mat-sort-header attribute goes on this <th> if you want to sort -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="" class="th-padding"> Sort by Title </th>
        <td mat-cell *matCellDef="let itemElement; let i = index;" (click)="findIndexOfItemTitle(itemElement.title)"
          [routerLink]="[findIndexOfItemTitle(itemElement.title)]" routerLinkActive="selected-color"
          style="" class="td-padding">
          {{ itemElement.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <!-- mat-sort-header attribute goes on this <th> if you want to sort -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sort by Username </th>
        <td mat-cell *matCellDef="let itemElement; let i = index;" (click)="findIndexOfItemTitle(itemElement.title)"
          [routerLink]="[findIndexOfItemTitle(itemElement.title)]" routerLinkActive="selected-color">
          {{ itemElement.username }}
        </td>
      </ng-container>

      <!-- add hidden attribute to tr -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[50, 100, 300]" showFirstLastButtons></mat-paginator>

  </div>
  <!-- /table - list of items -->

</div>


</div>
</div>