mat-card {
  max-width: 100%;
  height: 80px;
  text-align: left;
  /* margin-top: 20px; */
}


.inner-div {
  margin: 10px auto;
  /* min-width: 350px; */
  width: 100%;
  position: relative;
}

.everything {
    margin: 20px 10px 0px 20px;
}

.selected-color{
  background:#3f51b5;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
}

td {
  cursor: pointer;
  /* width: 453px; */
  font-size: 20px;
  /* height: 70px; */
}

th {
  font-size: 17px;
  color: #3f51b5;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
}

.toolbar {
  /* padding: 0px 10px; */
}

button {
  margin: 13px 0px;
}

.folder-select {
  /* width: 410px; */
  width: 100%;
  margin-top: -5px;
  /* padding-top: 80px; */
  /* padding-bottom: 40px; */
  /* background-color: yellow; */

  }

  .delete-select {
    /* width: 410px; */
    width: 100%;
    padding-left: 25px;
    margin-top: -2px;
  
    /* padding-top: 80px; */
    /* padding-bottom: 40px; */
    /* background-color: yellow; */
  
    }
  
  
/* only applies to small screens */
@media (max-width: 575px) {

  .folder-select {
    padding-left: 60px;
    margin-top: -30px;
    /* background-color: yellow;   */
  }

  .delete-select {
    padding-left: 90px;
    margin-top: -65px;
    /* background-color: yellow;   */
  }

  .everything {
    margin-right: 10px;
  }
}

/* only applies at the moment when the "Move to Folder" mat-card
gets pushed to the row below the "Select Folder to View" mat-card */
@media (max-width: 990px) {

  .move-to-folder {
    margin-top: 20px;
    /* background-color: yellow;   */
  }

}


  
/* only applies to small screens */
/* @media (max-width: 575px) {


} */

.folder-icon {
  font-size: 50px;
  color: #3f51b5;
  /* padding-top: 5px; */
  /* padding-right: 10px; */

  /* padding: 8px 13px; */
  /* https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div */
vertical-align: bottom;
}

.delete-button {
  vertical-align: bottom;
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
 *:focus {
  outline: none;
  border: 0;
}