<!-- This page uses a reactive form -->

<div class="container-fluid">
  <div class="everything">

    <!-- The shadow effect comes from https://material.angular.io/guide/elevation -->
    <mat-card class="mat-elevation-z8">
      <div class="row">
        <div class="inner-div">
          <form [formGroup]="folderForm" (ngSubmit)="onSubmit()" class="form">

            <!-- Folder field -->
            <mat-form-field class="full-width">
              <mat-label for="folder">Folder Name</mat-label>
              <input matInput type="text" id="name" formControlName="name">
            </mat-form-field>
            <!-- /Folder field -->

            <!-- Action Buttons -->
            <div class="row">

              <div class="all-buttons">
                <button *ngIf="!isSaveButtonClicked" type="submit" mat-flat-button color="primary">Save</button>
                <button *ngIf="isSaveButtonClicked" type="submit" mat-flat-button
                  style="background-color: #21e758; color: white">Saved!</button>
                <button mat-flat-button color="warn" (click)="onDelete()">Delete</button>
                <button mat-stroked-button color="warn" (click)="onCancel()"
                  class="cancel-button-very-small-screen">Cancel</button>
              </div>

                <!-- Align buttons to the right: https://stackoverflow.com/questions/41894792/align-button-to-the-right/41894896 -->
              <button mat-stroked-button color="warn" (click)="onCancel()"
                class="ml-auto cancel-button-larger-screens">Cancel</button>

            </div>
            <!-- /Action Buttons -->

          </form>
        </div>
      </div>
    </mat-card>

  </div>
</div>