<!-- The shadow effect comes from https://material.angular.io/guide/elevation -->
<!-- used to be [routerLink]="['/', 'items', index]" and it used to work as well -->
<mat-card [routerLink]="[index]" routerLinkActive="selected-color" class="mat-elevation-z8">
  <mat-card-header>
    <!-- <mat-card-subtitle><p>{{ item.username }}</p></mat-card-subtitle> this doesn't turn white for some reason -->
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <p>{{ item.username }}</p>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>