/node_modules
/dist

# Firebase
.firebase/
database.rules.json
.firebaserc

*.log

#orig files come from merge conflicts and can be deleted once the merge conflict is resolved.
#See "Lecture 33: Conflict Resolution" at 4:30, https://www.udemy.com/github-ultimate/learn/lecture/4731806#overview
*.orig

src/environments/environment.ts
src/environments/environment.prod.ts
