/* A container comes with its own padding and so does a row, and when a row is inside a container,
   the padding cancels out. But in this case, I only have a container without a row in it so this is how
   to fix it.
 https://stackoverflow.com/questions/17560818/twitter-bootstrap-white-space-on-left-and-right-side-in-smaller-screen-widths */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.everything {
  margin: 20px 0px 20px 20px;
}

/* only applies at the moment AFTER the "Folder-Edit" form on the right side of the page
gets pushed to the row below the "Folder-List" table on the left side of the page */
@media (max-width: 767px) {
  .everything {
    margin: 20px 10px 10px 10px;
  }
}

/* For the table ________________________________________*/

table {
  width: 100%;
}

.fixed-height-causes-scroll-bar {
  /* this means 100% of the screen's height minus anything else that takes up a fixed height, like the Toolbar or the website header */
  height: calc(100vh - 160px);
  overflow: auto;
}

.th-checkbox-padding {
  width: 64;
  /* explained in: https://stackoverflow.com/questions/53210628/material-table-column-fixed-width */
}

.td-checkbox-padding {
  width: 64px;
  /* explained in: https://stackoverflow.com/questions/53210628/material-table-column-fixed-width */
}

th {
  font-size: 16px;
  color: #3f51b5;
  padding-left: 25px;
}

td {
  cursor: pointer;
  font-size: 16px;
  padding-left: 25px;
}

.selected-color {
  background: #3f51b5;
  color: white;
}

/* /For the table ________________________________________*/

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}

/* ______________________________________________________ */

/* Note: at 767px (768px is tablet widths, this comes from the md bootrap class) and below, the whole right side of the page (the "edit folder" area)
 moves below the left side of the page (the table). So this information is useful for adding @media queries like:

 @media (max-width: 767px) {
  } */

/* ______________________________________________________ */