/* .margin {
    margin: 40px;
  } */
  
  /* .margin {
    margin: 40px;
  } */
  
  /* mat-card {
    cursor: pointer;
    width: 453px;
  } */

  .everything {
    margin: 20px 0px 30px 20px;
}

@media (max-width: 767px) {
  .everything {
    /* margin-right: 10px;
    margin-left: 10px; */
    margin: 20px 10px 0px 10px;
    /* background-color: yellow;   */
  }

  /* .move-to-folder {
    background-color: yellow;  
  } */

}

/* https://stackoverflow.com/questions/17560818/twitter-bootstrap-white-space-on-left-and-right-side-in-smaller-screen-widths */
.container-fluid {
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
}

/* not used */
  mat-card {
    /* margin: 20px 0px; */
    /* margin: auto; */
    width: 100px;
    height: 65px;
    text-align: center;
  }

  /* not used */
  .inner-div {
    margin: 0px auto;
    /* min-width: 350px; */
    width: 100%;
    position: relative;
  }

  .toolbar {
    /* padding: 0px 10px; */
  }
  
  button {
    /* margin: 13px; */
  }

  .selected-color{
    background:#3f51b5;
    color: white;
  }
 
  /* mat-card-content {
    margin-left: 15px;
  } */
 
  /* mat-divider {
      background-color: blue;
      padding: 3px;
  } */

  table {
    width: 100%;
    margin-top: 20px;
  }

  td {
    cursor: pointer;
    /* width: 453px; */
    font-size: 20px;
    /* padding: 100px; */
    /* height: 70px; */
  }

  th {
    font-size: 17px;
    color: #3f51b5;
    font-weight: bold;
  }

  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
 
/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}