/* A container comes with its own padding and so does a row, and when a row is inside a container,
   the padding cancels out. But in this case, I only have a container without a row in it so this is how
   to fix it.
 https://stackoverflow.com/questions/17560818/twitter-bootstrap-white-space-on-left-and-right-side-in-smaller-screen-widths */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.everything {
  margin: 20px 0px 30px 20px;
}

@media (max-width: 767px) {
  .everything {
    margin: 20px 10px 0px 10px;
  }
}

mat-card {
  max-width: 100%;
  height: 80px;
  text-align: left;
}

.inner-div {
  margin: 10px auto;
  width: 100%;
  position: relative;
}

mat-form-field {
  width: 100%;
}

.folder-select {
  width: 100%;
  margin-top: -30px;
  padding-left: 80px;
  padding-right: 20px;
}

.delete-select {
  width: 100%;
  margin-top: -62px;
  padding-left: 110px;
  padding-right: 20px;
}

/* only applies at the moment AFTER the "Move to Folder" mat-card
gets pushed to the row below the "Select Folder to View" mat-card */
@media (max-width: 1200px) {
  .move-to-folder {
    margin-top: 20px;
  }
  /* for the table */
  .fixed-height-causes-scroll-bar {
    height: 655px;
    overflow: auto;
  }
}

/* only applies BEFORE the moment when the "Move to Folder" mat-card
gets pushed to the row below the "Select Folder to View" mat-card */
@media (min-width: 1200px) {
  .edit-padding-right {
    padding-right: 10px;
  }
  .edit-padding-left {
    padding-left: 10px;
  }
  /* for the table */
  .fixed-height-causes-scroll-bar {
    height: 755px;
    overflow: auto;
  }
}

.folder-icon {
  font-size: 50px;
  color: #3f51b5;
  margin-left: 15px;
  vertical-align: bottom;
  /* from https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div */
}

.delete-button {
  margin-top: 7px;
  margin-left: 20px;
}

button {
  margin: 13px 0px;
}

/* For the table ________________________________________*/

table {
  width: 100%;
}

.th-checkbox-padding {
  width: 64;
  /* explained in: https://stackoverflow.com/questions/53210628/material-table-column-fixed-width */
}

.td-checkbox-padding {
  width: 64px;
  /* explained in: https://stackoverflow.com/questions/53210628/material-table-column-fixed-width */
}

th {
  font-size: 16px;
  color: #3f51b5;
}

td {
  cursor: pointer;
  font-size: 16px;
}

.th-padding {
  padding-left: 25px;
}

.td-padding {
  padding-left: 25px;
}

.selected-color {
  background: #3f51b5;
  color: white;
}

/* /For the table ________________________________________*/

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}