<div class="container">
  <div class="row">

    <!-- Image and Social Media Column -->
    <div class="centering">
      <div class="inner-div">

        <!-- Note: adding the "full-width" class makes that specific item centered, which is why the 
          "Ilker Hadzhalaran" and social media icons don't have that class and are left-aligned -->
        <div class="row " class="full-width">
          <img src="assets\images\Ilker-Hadzhalaran.jpg" height="200">
        </div>

        <div style="margin-left: 40px;">

          <div class="row">
            <h5 style="margin-top: 10px;">By: Ilker Hadzhalaran</h5>
          </div>

          <div class="row">
            <a href="https://www.linkedin.com/in/ilkerhadzhalaran/" target="_blank"> <i class="fab fa-linkedin fa-2x"
                style="color: #0077b5;"></i> </a>
            <a href="https://github.com/ilker-h" target="_blank"> <i class="fab fa-github fa-2x"
                style="color: black;"></i> </a>
          </div>

        </div>

      </div>
    </div>
    <!-- /Image and Social Media Column -->

    <!-- Description Column -->
    <div class="col-lg-8" style=" background-color: #f8f8f8; margin: auto;">

      <div style="margin: 20px;">

        <div class="row">
          <h3>About QuickPass</h3>
        </div>

        <div class="row">
          <p>QuickPass is an easy-to-use password manager that I created as a side project. It works on 
            phone, tablet and computer screens and is secured with an SSL certificate (SHA-256).
            Feel free to try it out!
          </p>
        </div>

        <div class="row">
          <h5>Built with:</h5>
        </div>

        <div class="row">
          <ul>
            <li> <strong>Frontend:</strong> Angular 7 (TypeScript-based JavaScript framework) </li>
            <li> <strong>Backend & Database Hosting:</strong> Google Firebase's Realtime Database (NoSQL) </li>
            <li> <strong>Layout Styling: </strong> Bootstap 4 (CSS framework) </li>
            <li> <strong>Element Styling:</strong> Angular Material 7 (UI Component Library) </li>
            <li> <strong>Major Dependencies:</strong> @angular et al., Bootstrap, Core.js, Firebase, RxJS, tslib,
              Webpack, Zone.js </li>
            <li> <strong>Other:</strong> HTML5 / CSS3, Material.io Icons, FontAwesome Icons </li>
          </ul>
        </div>

        <div class="row" class="centering-things-inside-this-div">
          <button mat-flat-button color="primary" routerLink="/login" (click)="setTitle('Log In | QuickPass')">Back to
            Login Page</button>
          <!-- <button mat-flat-button color="primary" (click)="downloadFile()">Download Resume</button> -->
        </div>

      </div>

    </div>
    <!-- /Description Column -->

  </div>
</div>