<div class="container">
  <div class="row">

    <!-- Image and Social Media Column -->
    <div class="col-md-3">

      <div class="row" class="centering-things-inside-this-div">


        <div class="row">

          <img class="centering-inner-things" src="assets\images\Ilker-Hadzhalaran.jpg" height="200"
            class="d-inline-block align-top" alt="">
          <h5 style="margin-top: 10px;">Ilker Hadzhalaran</h5>
        </div>

        <div class="row">
          <a href="https://www.linkedin.com/in/ilkerhadzhalaran/" target="_blank"> <i class="fab fa-linkedin fa-2x"
              style="color: #0077b5;"></i> </a>
          <a href="https://github.com/ilker-h" target="_blank"> <i class="fab fa-github fa-2x"
              style="color: black;"></i> </a>
        </div>

      </div>



    </div>
    <!-- /Image and Social Media Column -->

    <!-- Description Column -->
    <div class="col-md-9">

      <div class="row">

        <h3>About QuickPass</h3>

        <p>This is QuickPass, an easy-to-use password manager that I created as a side project.
          Feel free to try it out, I hope you like it!
        </p>

      </div>

      <div class="row">

        <h5>Built with:</h5>

      </div>

      <div class="row">

        <ul>
          <li> <strong>Frontend:</strong> Angular 7 (TypeScript-based JavaScript framework)</li>
          <li> <strong>Backend Hosting:</strong>  Google Firebase's Realtime Database (NoSQL)</li>
          <li> <strong>Layout Styling: </strong> Bootstap 4 (CSS framework)</li>
          <li> <strong>Element Styling:</strong>  Angular Material 7 (UI Component Library)</li>
        </ul>

      </div>


      <!-- <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum."
          </p> -->


      <div class="row" class="centering-things-inside-this-div">
        <button mat-flat-button color="primary" routerLink="/login">Back to Login Page</button>
        <button mat-flat-button color="primary" (click)="downloadFile()">Download Resume</button>
      </div>

    </div>
    <!-- /Description Column -->

  </div>
</div>