
/* 
For checking if the form is valid: and add this to the Save button: [disabled]="!itemForm.valid"
input.ng-invalid.ng-touched, textarea.invalid.ng-touched {
    border: 2px solid red;
} */

button {
  margin: 10px;
  /* margin-bottom: 20px; */
}

mat-card {
  margin: 40px 40px 0px 0px;
  max-width: 100%;
  height: 720px;
  text-align: left;
}

.inner-div {
  margin: 0px auto;
  /* min-width: 350px; */
  width: 80%;
  position: relative;
}

.form {
  /* min-width: 150px;
  max-width: 500px;
  width: 100%; */
}

.full-width {
  width: 100%;
}

.folder-select {
/* width: 410px; */
width: 100%;
padding-left: 80px;
/* padding-top: 80px; */
/* padding-bottom: 40px; */
/* background-color: yellow; */
}

.folder-icon {
font-size: 50px;
padding-top: 20px;
/* background-color: green; */
/* https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div */
vertical-align: bottom;
color: #3f51b5;
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}