<!-- This is the template that works for centering content inside a mat-card -->
<!-- <div class="container-fluid">
  <div class="row">

    <div class="mat-card centering">
      <div class="inner-div">
        Content m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m
        m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m
        m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m
        m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m
        m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m
        m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m
      </div>
    </div>

  </div>
</div> -->

<div class="container-fluid">
  <div class="row">

    <div class="mat-card centering">
      <div class="inner-div">

              <!-- ngForm gets access to the underlying form and then upon submitting the form,
                the form gets passed to the onSignup() method using a reference, #f -->
              <form (ngSubmit)="onSignup(f)" #f="ngForm">

                <!-- Email field -->
                <div class="row">
                    <mat-form-field class="full-width">
                      <mat-label for="email">Email</mat-label>
                      <!-- ngModel will register this as a control in the template-driven form -->
                      <input matInput type="email" id="email" name="email" ngModel>
                    </mat-form-field>
                </div>
                <!-- Email field -->

                <!-- Password field -->
                <div class="row">
                    <mat-form-field class="full-width">
                      <mat-label for="username">Password</mat-label>
                      <input matInput type="password" id="password" ngModel name="password">
                    </mat-form-field>
                </div>
                <!-- Password field -->

                <!-- Action Buttons -->
                <div class="row">
                    <button mat-flat-button class="full-width" type="submit" color="primary">Sign Up</button>
                </div>

                <div class="row" style="margin: 15px 10px;">
                    <a routerLink="/login">Or Return to Login Page</a>
                  </div>
                <!-- Action Buttons -->

              </form>

      </div>
    </div>

  </div>
</div>
