/* A container comes with its own padding and so does a row, and when a row is inside a container,
   the padding cancels out. But in this case, I only have a container without a row in it so this is how
   to fix it.
 https://stackoverflow.com/questions/17560818/twitter-bootstrap-white-space-on-left-and-right-side-in-smaller-screen-widths */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.everything {
  margin: 20px 20px 20px 0px;
}

/* only applies at the moment AFTER the "Item-Edit" form on the right side of the page
gets pushed to the row below the "Item-List" table on the left side of the page */
@media (max-width: 767px) {
  .everything {
    margin: 10px 10px 30px 10px;
  }
}

mat-card {
  max-width: 100%;
  /* this means 100% of the screen's height minus anything else that takes up a fixed height, like the form's padding or the website header */
  height: calc(100vh - 104px);
  text-align: left;
}

.inner-div {
  margin: 0px auto;
  width: 85%;
  position: relative;
}

.textarea-takes-up-any-remaining-height-after-all-other-inputs-have-taken-up-their-space {
  margin: 0px auto;
  /* the 700px represents all the other vertical space that is taken up by the rest of the inputs and the header. 
  So the textarea input essentially contracts/expands to fit the rest of the screen's remaining height */
  height: calc(100vh - 700px);
  position: relative;
}

.full-width {
  width: 100%;
}

.folder-select {
  width: 100%;
  padding-left: 70px;
}

button {
  margin: 10px;
}

/* Only applies to small mobile screens.
I made this because the cancel button goes onto the next row on small mobile screens and
 that causes it to get out of the mat-card */
 @media (max-width: 351px) {
  .all-buttons {
    text-align: center;
    margin: auto;
  }
  mat-card {
  /* this means 100% of the screen's height minus anything else that takes up a fixed height, like the form's padding or the website header */
    height: calc(100vh - 44px);
  }
  .cancel-button-larger-screens {
    display: none;
  }
}

/* only applies to anything larger than small mobile screens. 
I made this because the cancel button goes onto the next row on small mobile screens and
 that causes it to get out of the mat-card */
@media (min-width: 352px) {
  .cancel-button-very-small-screen {
    display: none;
  }
}

.folder-icon {
  font-size: 50px;
  padding-top: 25px;
  vertical-align: bottom;
  /* from https://stackoverflow.com/questions/49657545/mat-icon-does-not-center-in-its-div */
  color: #3f51b5;
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}

/* 
Syntax for checking if the form is valid: 

input.ng-invalid.ng-touched, textarea.invalid.ng-touched {
    border: 2px solid red;
}

And then add this to the Save button: [disabled]="!itemForm.valid"
 */

/* ______________________________________________________ */

/* Note: at 767px (768px is tablet widths, this comes from the md bootrap class) and below, the whole right side of the page (the "edit item" area)
 moves below the left side of the page (the table). So this information is useful for adding @media queries like:

 @media (max-width: 767px) {
  } */

/* ______________________________________________________ */