.everything {
  margin: 40px;
}

.row {
  margin: 15px 0px;
}

.anchor {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  margin: 15px 0px;
}

/* Removes annoying blue or orange outline that gets put on the things that you click on.
 from https://stackoverflow.com/questions/30981429/angular-material-ng-click-strange-border-highlight */
*:focus {
  outline: none;
  border: 0;
}